*{
	margin: 0;
	padding: 0;
}

html,
body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	font-family: sans-serif;
}

#current_time_container,
#end_time_container,
#overtime_text{
	display: none;
}

#main_container{
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	height: 100%;
	flex-flow: column;
}

#main_feature{
	margin-bottom: -15px;
}

#current_time_container{
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 1.7vw;
}
#end_time_container{
	width: 100%;
	text-align: right;
	padding-right: 22vw;
	font-size: 2vw;
}

#overtime_text{
	font-size: 8vw;
	text-transform: uppercase;
}

.blink {
	animation: blink 1s steps(5, start) infinite;
	-webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
	to {
		visibility: hidden;
	}
}
@-webkit-keyframes blink {
	to {
		visibility: hidden;
	}
}

/* FONT SIZES */
.f_long{
	font-size: 12vw;
}
.f_med{
	font-size: 18vw;
}
.f_short{
	font-size: 24vw;
}

/* THEMES */
.dark{
	color: #DDD;
	background-color: #222;
}
.black{
	color: white;
	background-color: black;
}
.light{
	color: #222;
	background-color: #EEE;
}
.white{
	color: black;
	background-color: white;
}
.red{
	color: #FF0000;
	background-color: #111;
}